* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
  overflow-x: hidden;
}

.footer {
  max-width: 1440px;
  margin: 40px auto;
  background-color: #121315;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 60px 50px;
}

.footer-text-box {
  width: 30%;
}

.footer-text-box h1 {
  color: #eeeeee;
  margin-bottom: 16px;
}

.footer-text-box p {
  word-spacing: 8px;
  line-height: 1.7;
}

.footer-nav h1 {
  color: #eeeeee;
  margin-bottom: 16px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav-list li {
  list-style: none;
}

.footer-nav-list li a:link,
.footer-nav-list li a:visited {
  text-decoration: none;
  color: inherit;
}

.footer-newsletter {
  width: 25%;
}

.footer-newsletter h1 {
  color: #eeeeee;
  margin-bottom: 16px;
}

.newsletter-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.newsletter-input {
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
}

.newsletter-box button {
  outline: none;
  border: none;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1893f7;
  color: #eeeeee;
}

@media (max-width: 600px) {
  .footer {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding: 40px 24px;
  }

  .footer-text-box {
    width: 100%;
  }

  .footer-newsletter {
    width: 100%;
  }
}
